.login-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: inherit;
}
.login-form {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}
.login-form form {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  margin-top: 20px;
}
.login-form > p {
  color: #737373;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 84.52%;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
}
h3 {
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 84.52%;
  color: #22160f;
  letter-spacing: -0.02em;
}
label {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #737373;
}
.form > input {
  background: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  width: 295px;
  height: 45px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-btn {
  width: inherit;
  height: 45px;
  padding: 10px;
  background: #836048;
  border-radius: 12px;
  border: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.motor1 {
  position: absolute;
  width: 817px;
  height: 711px;
  left: 411px;
  top: -58px;
}
.alpha-service-title {
  position: absolute;
  width: 234.38px;
  height: 101.18px;
  left: 1000px;
  top: 560px;
}
