.orders-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my-orders-left-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 295px;
  justify-content: space-between;
}
.my-orders-left-side p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #737373;
}
.my-orders h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 10px;
}
.no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-orders a {
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #836048;
}
.my-order-right-side {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.my-order-right-side img {
  width: 440px;
  height: 550px;
  background: #e5e5e5;
  border-radius: 15px;
}
.my-orders-btn {
  width: 200px;
  height: 35px;
  padding: 10px;
  margin-right: 15px;
  background: #836048;
  border-radius: 12px;
  border: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
